/* INITIALISATION */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Raleway', sans-serif;
}

/* GENERAL */
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  max-width: 120rem;
  margin: auto;
  padding: 1.5rem;
}

.primary-color {
  color: #0065FC;
}

.fat {
  font-weight: bold;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
}
nav .logo {
  width: 12rem;
}
nav .bloc-liens-navigation {
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
  width: 37rem;
  font-size: 1.7rem;
}

/* HEADER */
header h1 {
  margin: 3rem 0 0.5rem 0;
}
header aside {
  font-size: 1.5rem;
}
header .information {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}
header .information .cercle {
  display: flex;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border: 0.1rem solid #DEEBFF;
  border-radius: 50%;
}
header .information .cercle .icone-info {
  width: 0.5rem;
}
header .information p {
  font-size: 1.5rem;
  margin-left: 1rem;
}
header .recherche {
  margin: 1.5rem 0 2rem 0;
  display: flex;
}
header .recherche .container-icone-localisation {
  display: flex;
  justify-content: center;
  width: 3.8rem;
  border: 0.1rem solid #F2F2F2;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  background-color: #F2F2F2;
}
header .recherche .container-icone-localisation .icone-localisation {
  width: 1rem;
}
header .recherche button {
  cursor: pointer;
  color: #fff;
  padding: 1rem;
  border: 0.1rem solid #0065FC;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: #0065FC;
}
header .recherche input {
  width: 17rem;
  height: 3.75rem;
  padding-left: 1rem;
  font-weight: bold;
  border-top: 0.1rem solid #F2F2F2;
  border-bottom: 0.1rem solid #F2F2F2;
  border-left: none;
  border-right: none;
}
header .filtre {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}
header .filtre p {
  font-weight: bold;
  font-size: 1.7rem;
}
header .filtre label {
  font-weight: bold;
  font-size: 1.7rem;
  padding-right: 2rem;
}
header .filtre .item-filtre {
  display: flex;
  align-items: center;
  height: 4rem;
  margin-left: 2.5rem;
  border-top: 0.2rem solid #F2F2F2;
  border-right: 0.2rem solid #F2F2F2;
  border-bottom: 0.2rem solid #F2F2F2;
  border-radius: 3rem;
}
header .filtre .item-filtre .cercle {
  display: flex;
  justify-content: center;
  background-color: #DEEBFF;
  width: 4rem;
  height: 4rem;
  border: 0.1rem solid #DEEBFF;
  border-radius: 50%;
}
header .filtre .item-filtre .cercle .icone-money {
  width: 1.9rem;
}
header .filtre .item-filtre .cercle .icone-child {
  width: 1.4rem;
}
header .filtre .item-filtre .cercle .icone-heart {
  width: 1.6rem;
}
header .filtre .item-filtre .cercle .icone-dog {
  width: 2.2rem;
}
header .filtre .item-filtre input {
  opacity: 0;
}

/*  MAIN */
main .container-hebergements {
  border: 0.1rem solid #F2F2F2;
  background-color: #F2F2F2;
  border-radius: 3rem;
  padding: 3.5rem;
}
main .container-hebergements h2 {
  font-size: 2rem;
  margin-bottom: 2.5rem;
}
main .container-hebergements .container-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-template-rows: repeat(2, max-content);
  grid-gap: 3rem;
}
main .container-hebergements .container-cards .card {
  border: 0.1 solid #fff;
  background-color: #fff;
  border-radius: 3rem;
}
main .container-hebergements .container-cards .card .photo-chambre {
  width: 100%;
  height: 20rem;
  padding: 0.5rem;
  object-fit: cover;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
}
main .container-hebergements .container-cards .card h3 {
  font-size: 1.5rem;
}
main .container-hebergements .container-cards .card p {
  font-size: 1.3rem;
}
main .container-hebergements .container-cards .card h3, main .container-hebergements .container-cards .card p {
  margin: 0 0 0.7rem 1.4rem;
}
main .container-hebergements .container-cards .card .stars {
  display: flex;
  margin: 0 0 1.3rem 1.4rem;
}
main .container-hebergements .container-cards .card .stars .star {
  width: 1.6rem;
}
main .container-hebergements button {
  cursor: pointer;
  border: none;
  font-size: 1.6rem;
  font-weight: bolder;
  margin-top: 3.5rem;
}

/*# sourceMappingURL=style.css.map */
