@import './variables';

/* INITIALISATION */

*, *::before, *::after {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

html {
   box-sizing: border-box;
   font-size: 62.5%;
   font-family: 'Raleway', sans-serif;
}


/* GENERAL */

h1 {
   margin: 3rem 0 0.5rem 0;
}

aside {
   font-size: 1.5rem;
}

ul {
   list-style: none;
}

a {
   text-decoration: none;
   color: #000;
}

.container {
   max-width: 120rem;
   margin: auto;
   padding: 1.5rem;
}

.primary-color {
   color: $primary-color;
}

/* NAVBAR */

.logo {
   width: 12rem;
}

nav {
   display: flex;
   justify-content: space-between;
}

.bloc-liens-navigation {
   display: flex;
   margin-top: 1rem;
   justify-content: space-between;
   width: 37rem;
   font-size: 1.7rem;
}

/* HEADER */

.recherche {
   margin: 1.5rem 0 2rem 0;
   display: flex;

   .container-icone-localisation {
      display: flex;
      justify-content: center;
      width: 3.8rem;
      border: 0.1rem solid $background-color;
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem;
      background-color: $background-color;

      .icone-localisation {
         width: 1rem;
      }
   }

   button {
      cursor: pointer;
      color: #fff;
      padding: 1rem;
      border: 0.1rem solid $primary-color;
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 1rem;
      background-color: $primary-color;
   }

   input {
      width: 17rem;
      height: 3.75rem;
      padding-left: 1rem;
      font-weight: bold;
      border-top: 0.1rem solid $background-color;
      border-bottom: 0.1rem solid $background-color;
      border-left: none;
      border-right: none;
   }
}

.filtre {
   display: flex;
   align-items: center;
   margin-bottom: 3rem;

   p {
      font-weight: bold;
      font-size: 1.7rem;

   }

   label {
      font-weight: bold;
      font-size: 1.7rem;
      padding-right: 2rem;
   }

   .item-filtre {
      display: flex;
      align-items: center;
      height: 4rem;
      margin-left: 2.5rem;
      border-top: 0.2rem solid $background-color;
      border-right: 0.2rem solid $background-color;
      border-bottom: 0.2rem solid $background-color;
      border-radius: 30px;

      .cercle {
         display: flex;
         justify-content: center;
         background-color: $secondary-color;
         width: 4rem;
         height: 4rem;
         border: 0.1rem solid $secondary-color;
         border-radius: 50%;

         .icone-money {
            width: 1.9rem;
         }
         .icone-child {
            width: 1.4rem;
         }
         .icone-heart {
            width: 1.6rem;
         }
         .icone-dog {
            width: 2.2rem;
         }
      }

      input {
         opacity: 0;
      }
   }
}